.popup__button-invalid {
  background: transparent;
  color: black;
  border: 1px solid #000000;
  box-sizing: border-box;
  opacity: 0.2;
}

.popup__button-invalid:hover {
  background: rgb(0, 0, 0, 0);
}