.profile__edit-button-picture {
  width: 10px;
  height: 10px;
  object-fit: contain;
}

@media screen and (max-width: 320px) {
  .profile__edit-button-picture {
    height: 7px;
    width: 7px;
  }
}