.popup-view {
  background-color: rgba(42, 44, 47, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 1s ease-in;
}